<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Meal Planner</title>
</head>
<body>
<nav>
    <button class="burger-btn">
        <i class="fa-solid fa-burger"></i>
    </button>
    <button class="exit-btn">
        <i class="fa-solid fa-xmark"></i>
    </button>
    <div class="menu">
        <a class="menu__item" th:href="@{/home/user}">Strona główna</a>
        <a class="menu__item" th:href="@{/plan/generator}">Wygeneruj plan</a>
        <a class="menu__item">Zarządzaj przepisami</a>
        <a class="menu__item" th:href="@{/recipes}">Wyszukaj przepis</a>
        <a class="menu__item" th:href="@{'/user/' + ${username}}">Twój profil</a>
        <a class="menu__item" th:href="@{/logout}">Wyloguj się</a>
    </div>
    <div class="menu__desktop">
        <a class="menu__item profile" th:href="@{/logout}">Wyloguj się</a>
        <a title="Twój profil" class="menu__item profile profile-icon" th:href="@{'/user/' + ${username}}"><i
                class="fa-solid fa-user"></i></a>
    </div>
</nav>
<br /><br />
<div>
    <div th:each="element : ${mealPlanner}">
        <div th:if="${element.firstDisplayRecipe().id().equals('EMPTY_DAY_ID')}">
            <p th:text="${element.dayOfWeek()} + ': ' + ${element.date()}"></p>
            <p>Masz wolne :)</p>
        </div>
        <div th:if="${!element.firstDisplayRecipe().id().equals('EMPTY_DAY_ID')}">
            <p th:text="${element.dayOfWeek()} + ': ' + ${element.date()}"></p>
            <a th:href="@{/plan/recipes/{id}(id=${element.firstDisplayRecipe().id()})}" th:text="${element.firstDisplayRecipe().name()}"></a>
            <img th:src="${imageUrlMap[element.firstDisplayRecipe().id()]}" alt="Obraz przepisu"/>
            <p th:text="'Czas przygotowania: ' + ${element.firstDisplayRecipe().prepareTime()}"></p>
        </div>
        <br><br>
    </div>

    <a th:href="@{/plan/generator}">Wygeneruj plan ponownie</a>
    <a th:href="@{/plan/grocery-list}">Lista zakupów</a>
</div>
</body>
</html>
