<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Wyszukiwanie przepisów</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" th:href="@{/css/searcher-style.css}">
</head>

<body class="browser-page browser">
    <nav>
        <button class="burger-btn">
            <i class="fa-solid fa-burger"></i>
        </button>
        <button class="exit-btn">
            <i class="fa-solid fa-xmark"></i>
        </button>
        <div class="menu">
            <a class="menu__item" th:href="@{/home/user}">Strona główna</a>
            <a class="menu__item" th:href="@{/plan/generator}">Wygeneruj plan</a>
            <a class="menu__item">Zarządzaj przepisami</a>
            <a class="menu__item" th:href="@{/wyszukiwarka}">Wyszukaj przepis</a>
            <a class="menu__item" th:href="@{'/user/' + ${username}}">Twój profil</a>
            <a class="menu__item" th:href="@{/logout}">Wyloguj się</a>
        </div>
        <div class="menu__desktop">
            <a class="menu__item profile" th:href="@{/logout}">Wyloguj się</a>
            <a title="Twój profil" class="menu__item profile profile-icon" th:href="@{'/user/' + ${username}}"><i
                    class="fa-solid fa-user"></i></a>
        </div>
    </nav>
    <header class="browser__hero hero">
        <img th:src="@{/images/51581.jpg}" alt="Równo ułożone talerze z jedzeniem - mała rozdzielczość"
            class="hero__image">
        <img th:src="@{/images/talerze_wieksze.jpg}" alt="Równo ułożone talerze z jedzeniem - duża rozdzielczość"
            class="hero__image-large">
        <div class="hero__text">
            <h1>Wyszukiwarka przepisów</h1>
            <p class="browser__text-content">Wyszukaj lub wylosuj przepisy</p>
        </div>
    </header>
    <section class="browser__container">
        <div id="recipe-search-wrapper" class="recipes-browsing-field">
            <!-- Tutaj zostanie dodane pole wyszukiwania przez skrypt JS -->
        </div>
        <form method="post" th:action="@{/wyszukiwarka/wybrana-dieta}" class="browser__form">
            <select name="diet" onchange="removeDefaultOption(this)" class="select-diet">
                <option value="" disabled selected class="select-diet__option">Wybierz dietę</option>
                <option th:each="diet : ${diets}" th:text="${diet}" th:value="${diet}" class="select-diet__option">
                </option>
            </select>
            <div class="draw-btn__wrapper">
                <button type="submit" class="draw-btn" id="submit-button" disabled>
                    <i class="fa-solid fa-dice"></i>
                </button>
                <i class="fa-solid fa-arrow-left"></i>
                <p class="draw-btn__info">Daj się zainspirować i wylosuj przepisy!</p>
            </div>
        </form>
    </section>

    <section class="random-recipes">
        <ul class="browser__recipes-container">
            <li th:each="recipe : ${recipes}" class="recipe-container__item">
                <a th:href="@{/recipes/{id}(id=${recipe.id})}" th:text="${recipe.nazwa()}"
                    class="recipe-container__link">
                    <div class="decor-line"></div>
                </a>
                <a th:href="@{/recipes/{id}(id=${recipe.id})}" class=" recipe-img__link">
                    <img th:src="${imageUrlMap[recipe.id]}" alt="Obraz przepisu" class="recipe__img" />
                </a>

            </li>
        </ul>
    </section>

    <footer class="footer">
        <div class="footer__section contact">
            <h4 class="footer__header">Kontakt</h4>
            <div class="email">
                <i class="fa-solid fa-envelope"></i>
                <p class="email__text">email@gmail.com</p>
            </div>
        </div>
        <div class="footer__section social-media">
            <h4 class="footer__header">Znajdziesz nas tutaj</h4>
            <div class="social-media__links">
                <a class="social-media__link"><i class="fa-brands fa-square-facebook"></i></a>
                <a class="social-media__link"><i class="fa-brands fa-instagram"></i></a>
                <a class="social-media__link"><i class="fa-brands fa-tiktok"></i></a>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/3d3eb47a80.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/burgerMenu.js}"></script>
    <!-- <script th:src="@{'/js/user-searcher-favorites.js'}"></script> -->
    <script th:src="@{'/js/searcher-recipe.js'}"></script>
</body>

</html>