<!DOCTYPE html>
<html>
<head>
    <title>Przepisy</title>
</head>
<body>
<h1>Wyszukiwarka przepisów</h1>

// wyszukiwarka do wstawienia

<form method="post" th:action="@{/wyszukiwarka}">
    <button type="submit">Losuj</button>
</form>

<form method="post" th:action="@{/wyszukiwarka/wegetarianskie}">
    <button type="submit">Wegetariańskie</button>
</form>

<form method="post" th:action="@{/wyszukiwarka/miesne}">
    <button type="submit">Mięsne</button>
</form>



<ul>
    <li th:each="recipe : ${recipes}">
        <a th:href="@{/recipes/{id}(id=${recipe.id})}" th:text="${recipe.nazwa()}"></a>
    </li>
</ul>
</body>
</html>