<!DOCTYPE html>
<html>
<head>
    <title>Przepisy</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script th:src="@{'/js/searcher-recipe.js'}"></script>
</head>
<body>
<h1>Wyszukaj przepis</h1>

<div id="recipe-search-wrapper">
    <!-- Tutaj zostanie dodane pole wyszukiwania przez skrypt JS -->
</div>

<script>
    $(document).ready(function() {
        initializeRecipeFields('#recipe-search-wrapper', 'recipe');
    });
</script>

<form method="post" th:action="@{/wyszukiwarka/wybrana-dieta}">
    <select name="diet" onchange="removeDefaultOption(this)">
        <option value="" disabled selected>Wybierz dietę</option>
        <option th:each="diet : ${diets}" th:text="${diet}" th:value="${diet}"></option>
    </select>
    <button type="submit" id="submit-button" disabled>Losuj</button>
</form>


// obsługa poprawnego wyświetlania pola wyboru diety

<script>
    function removeDefaultOption(selectElement) {
        selectElement.options[0].disabled = true;

        // Sprawdź, czy wybrano opcję inną niż domyślna
        if (selectElement.selectedIndex > 0) {
            // Aktywuj przycisk "Losuj"
            document.getElementById("submit-button").disabled = false;
        } else {
            // Zablokuj przycisk "Losuj"
            document.getElementById("submit-button").disabled = true;
        }
    }
</script>

<ul>
    <li th:each="recipe : ${recipes}">
        <a th:href="@{/recipes/{id}(id=${recipe.id})}" th:text="${recipe.nazwa()}"></a>
        <img th:src="${imageUrlMap[recipe.id]}" alt="Obraz przepisu"/>
    </li>
</ul>



</body>
</html>