<!DOCTYPE html>
<html>
<head>
    <title>Szczegóły przepisu</title>
</head>
<body>
<h1>Szczegóły przepisu</h1>
<p>Dieta: <span th:text="${diet}"></span></p>
<p>Czas przygotowania: <span th:text="${prepareTime}"></span></p>
<p>Nazwa: <span th:text="${name}"></span></p>

<img th:src="${imageUrl}" alt="Obraz"/>


<h2>Składniki</h2>
<ul>
    <li th:each="ingredient : ${ingredients}" th:text="${ingredient.name} + ' - ' + ${ingredient.amount()} + ' - ' + ${ingredient.unit()}"></li>
</ul>

<h2>Sposób przygotowania</h2>
<ol>
    <li th:each="step : ${steps}" th:text="${step}"></li>
</ol>


<div th:if="${favoriteMessage}" style="color: green;">
    <p th:text="${favoriteMessage}"></p>
</div>

<form method="post" th:action="@{/recipes/{id}/favorite(id=${id})}">
    <button type="submit">Dodaj do ulubionych</button>
</form>

<!-- Inne pola przepisu, jeśli są -->
</body>



</html>