<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zmień adres e-mail</title>
</head>
<body>



<p>Edycja profilu użytkownika :  <span th:text="${usere}"></span></p>


<h1>Zmień adres e-mail oraz hasło : </h1>

<form method="post" th:action="@{/user/{username}/change-profil-date(username=${usere})}" style="display: flex; flex-direction: column;">
    <input type="email" name="newEmail" placeholder="Nowy adres e-mail" style="margin-bottom: 10px; width: 200px;">
    <input type="password" name="newPassword" placeholder="Nowe hasło" style="margin-bottom: 10px; width: 200px;">
    <input type="password" name="confirmNewPassword" placeholder="Potwierdź nowe hasło" style="margin-bottom: 10px; width: 200px;">
    <button type="submit" style="margin-bottom: 10px; width: 200px;">Edytuj dane</button>

    <a th:href="@{'/user/' + ${username}}">Nie zapisuj zmian</a>
    <p th:if="${error}" th:text="${error}"></p> <!-- Wyświetlanie komunikatu o błędzie -->
</form>


</body>
</html>
