<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zmień adres e-mail</title>
</head>
<body>
<nav>
    <button class="burger-btn">
        <i class="fa-solid fa-burger"></i>
    </button>
    <button class="exit-btn">
        <i class="fa-solid fa-xmark"></i>
    </button>
    <div class="menu">
        <a class="menu__item" th:href="@{/home/user}">Strona główna</a>
        <a class="menu__item" th:href="@{/plan/generator}">Wygeneruj plan</a>
        <a class="menu__item" th:href="@{/recipes}">Wyszukaj przepis</a>
    </div>
    <div class="menu__desktop">
        <a class="menu__item profile" th:href="@{/logout}">Wyloguj się</a>
        <a title="Twój profil" class="menu__item profile profile-icon" th:href="@{'/user/' + ${#authentication.name}}"><i
                class="fa-solid fa-user"></i></a>
    </div>
</nav>


<p>Edycja profilu użytkownika :  <span th:text="${usere}"></span></p>


<h1>Zmień adres e-mail oraz hasło : </h1>

<form method="post" th:action="@{/user/{username}/change-profil-date(username=${usere})}" style="display: flex; flex-direction: column;">
    <input type="email" name="newEmail" placeholder="Nowy adres e-mail" style="margin-bottom: 10px; width: 200px;">
    <input type="password" name="newPassword" placeholder="Nowe hasło" style="margin-bottom: 10px; width: 200px;">
    <input type="password" name="confirmNewPassword" placeholder="Potwierdź nowe hasło" style="margin-bottom: 10px; width: 200px;">
    <button type="submit" style="margin-bottom: 10px; width: 200px;">Edytuj dane</button>

    <a th:href="@{'/user/' + ${username}}">Nie zapisuj zmian</a>
    <p th:if="${error}" th:text="${error}"></p> <!-- Wyświetlanie komunikatu o błędzie -->
</form>


</body>
</html>
