<!DOCTYPE html>
<html>
<head>
    <title>User Details</title>
    <meta charset="UTF-8">
    <title>Ulubione Przepisy</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script th:src="@{'/js/user-searcher-favorites.js'}"></script>
</head>
<body data-userid="${id}">
<h1>Profil użytkownika : </h1>
<p>Login: <span th:text="${username}"></span></p>
<p>Role: <span th:text="${role}"></span></p>
<p>Role: <span th:text="${id}"></span></p>



<form method="get" th:action="@{/user/{username}/change-profil(username=${username})}">
    <button type="submit">Edytuj profil</button>
</form>



<p th:if="${message}" th:text="${message}"></p> <! komunikat o zmianie danych z edycji profilu -- >


<h2>Ulubione przepisy</h2>
<ul>
    <li th:each="recipe : ${favorites}">
        <a th:href="@{/recipes/{id}(id=${recipe.id})}" th:text="${recipe.name}"></a>
    </li>
</ul>

<!-- Inne pola użytkownika, jeśli są -->

<a th:href="@{/plan/recipes}">Zobacz swój plan posiłków</a>
<a th:href="@{/plan/grocery-list}">Zobacz swoją listę zakupów</a>

</body>
</html>