nav {
    width: 100%;
    height: 73px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 4;
    font-family: 'Now', sans-serif;
    background-color: $white;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    @media (min-width: 992px) {
        height: 100px;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 40px 0;
    }
    .burger-btn {
        position: fixed;
        right: 14px;
        z-index: 3;
        font-size: 46px;
        background: none;
        color: $gold;
    }
    @media (min-width: 992px) {
        .burger-btn {
            display: none;
        }
    }
    .exit-btn {
        display: none;
    }
    .menu {
        @media (min-width: 992px) {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 20px;
        }
        &__item{
            display: none;
        }
        @media (min-width: 992px) {
            &__item {
                display: block;
                font-size: 18px;
                transition: color .4s;
            }
            &__item:hover {
                color: $gold;
            }
            &__desktop {
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 20px;
                .profile {
                    transition: color .4s;
                }
                .profile:hover {
                    color: $gold;
                }
                .profile-icon {
                    font-size: 28px;
                    color: $dark-gray;
                }
            }
            &__item:nth-child(6), &__item:nth-child(5) {
                display: none;
            }
        }
    }
    .active {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        color: $dark-gray;
        background-color: $white;
        .menu__item {
        width: 100vw;
        display: block;
        text-align: center;
        padding: 28px 0;
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid $light-gray;
        }
        .menu__item:nth-child(2){
            color: $gold;
        }
        .menu__item:last-child {
            width: auto;
            padding: 16px 30px;
            margin-top: 40px;
            border: 1px solid $gold;
            border-radius: 5px;
        }
    }
}
nav.active {
    .burger-btn {
        display: none;
    }
    .exit-btn {
        display: block;
        position: fixed;
        right: 14px;
        z-index: 3;
        font-size: 46px;
        color: $dark-gray;
        background: none;
    }
}