$gold: #FFB342;
$white: #FFFFFF;
$light-gray: #F3F3F3;
$gray: #C7C7C7;
$dark-gray: #767676;
$orange: #FF7F37;
$black: #000000;
$green: #B1CE00;

$breakpoints: (
    'sm': 767px,
    'md': 992px
);

.container--md{
    margin: 0 auto;
    width: 100%;
    max-width: 600px; 
}