@keyframes clickMe {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes submitMe {
    0% {
        background-color: var(--gold);
    }
    50% {
        background-color: var(--orange);
    }
    100% {
        background-color: var(--gold);
    }
}
