@import '../css/__reset.css';
@import '../css/__variables.css';
@import '../css/__navigation.css';
@import '../css/__footer.css';

nav .active .menu__item:nth-child(3) {
    order: 1;
    width: auto;
    padding: 16px 30px;
    margin-top: 40px;
    border: 1px solid var(--gold);
    border-radius: 5px;
  }
  nav .active .menu__item:nth-child(1) {
    color: var(--gold);
  }
  nav .active .menu__item:nth-child(2) {
    color: var(--dark-gray);
  }
  nav .active .menu__item:nth-child(4) {
    width: 100vw;
    padding: 28px 0;
    font-size: 14px;
    border: 1px solid var(--light-gray);
    margin: 0;
  }
  @media (min-width: 992px) {
    .menu__item:nth-child(3), .menu__item:nth-child(5) {
      display: none;
    }
  }
  main {
    width: 100vw;
    font-family: "Now", sans-serif;
  }

  main .plan-generator {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media (min-width: 992px) {
    main .plan-generator .graphic .graphic {
      margin-bottom: -100px;
    }
  }
  main .plan-generator .graphic__image {
    width: 200px;
    position: relative;
    top: 150px;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, 0);
  }
  main .plan-generator .graphic__image2, main .plan-generator .graphic__image3 {
    display: none;
  }
  @media (min-width: 992px) {
    main .plan-generator .graphic__image2, main .plan-generator .graphic__image3 {
      width: 250px;
      display: block;
      position: relative;
    }
    main .plan-generator .graphic__image2 {
      top: 80px;
      left: 75%;
      transform: translate(-50%, 0);
    }
    main .plan-generator .graphic__image3 {
      top: -150px;
      left: 25%;
      transform: translate(-50%, 0);
    }
  }
  main .plan-generator__btn {
    width: 150px;
    height: 34px;
    margin: 190px auto 30px;
    font-size: 14px;
    color: var(--white);
    background-color: var(--gray);
    border-radius: 11px;
  }
  main .plan-generator__link {
    color: var(--white);
    width: 100%;
    height: 100%;
    padding: 9px 18px;
  }
  main .plan-generator__link:visited,
  main .plan-generator__link:active {
    color: var(--white);
  }
  @media (min-width: 992px) {
    main .plan-generator__link {
      padding: 15px 18px;
    }
    main .plan-generator__btn {
      height: 50px;
      width: 200px;
      margin: -230px auto 60px;
      font-size: 20px;
    }
  }
  main .plan-info {
    display: flex;
    flex-direction: column;
  }
  main .plan-info__image {
    width: 80px;
    position: relative;
    top: 5px;
    margin: 0 auto;
  }
  main .plan-info .plan-info-wrapper {
    width: 100%;
    max-width: 600px;
    padding: 20px 40px;
    margin: 0 auto;
    background-color: var(--light-gray);
    border-radius: 40px 0px;
  }
  @media (min-width: 992px) {
    main .plan-info .plan-info-wrapper {
      padding: 30px 40px;
      border-radius: 20px;
    }
  }
  main .plan-info__header {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: var(--gold);
  }
  @media (min-width: 992px) {
    main .plan-info__header {
      font-size: 22px;
      line-height: 30px;
    }
  }
  main .plan-info__text {
    margin-bottom: 20px;
  }
  main .plan-info .content {
    font-size: 13px;
    line-height: 18px;
    color: var(--dark-gray);
  }
  @media (min-width: 992px) {
    main .plan-info .content {
      font-size: 18px;
      line-height: 25px;
    }
  }

  main .about-us__header {
    margin: 90px 40px 0;
    font-size: 18px;
    font-weight: 500;
    color: var(--dark-gray);
    -moz-text-align-last: left;
         text-align-last: left;
  }
  @media (min-width: 992px) {
    main .about-us__header {
      width: 400px;
      margin: 220px auto 100px;
      font-size: 22px;
      -moz-text-align-last: center;
           text-align-last: center;
    }
  }
  @media (min-width: 992px) {
    main .about-us .element {
      width: 50%;
      flex-basis: 50%;
    }
    main .about-us .element:nth-child(3) {
      order: 1;
    }
    main .about-us .element:nth-child(1),
    main .about-us .element:nth-child(2) {
      margin-bottom: 40px;
    }
  }
  main .about-us .recipes {
    position: relative;
  }
  main .about-us .recipes__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0px 4px 6.7px rgba(0, 0, 0, 0.5);
    color: var(--white);
    border-radius: 15px;
    transition: font-size 0.4s;
  }
  main .about-us .recipes__link:active {
    font-size: 20px;
  }
  @media (min-width: 992px) {
    main .about-us .recipes__link:active {
      font-size: 16px;
    }
    main .about-us .recipes__link:hover {
      font-size: 25px;
      border-radius: 15px;
    }
  }
  main .about-us__image {
    width: 100%;
    border-radius: 15px;
    filter: brightness(80%);
  }
  main .about-us__wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
  }
  @media (min-width: 992px) {
    main .about-us__wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    main .about-us .about-us__text-content {
      padding: 0 50px;
    }
  }
  main .about-us__text {
    margin: 40px 0 20px;
  }
  main .about-us__ps {
    margin-bottom: 40px;
  }
  main .about-us .content {
    display: block;
    font-size: 13px;
    line-height: 18px;
    color: var(--gold);
  }
  @media (min-width: 992px) {
    main .about-us .content {
      font-size: 18px;
      line-height: 25px;
    }
  }
  
  .test-content {
    display: none;
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 1400px;
    }
  }