@import '../css/__reset.css';
@import '../css/__variables.css';
@import '../css/__navigation.css';
@import '../css/__footer.css';
@import '../css/__animations.css';

.login-form__wrapper {
    display: none;
    font-family: "Now", sans-serif;
    
}

.pop-up {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    border-radius: 16px;
    width: 80%;
}

@media (min-width: 992px) {
    .pop-up {
        max-width: 580px;
        width: 50%;
    }
}
.login-form__background {
    display: none;
    
}
.display {
    z-index: 5;
    display:flex;
    height: 101vh;
    width: 101vw;
    position: fixed;
    backdrop-filter: blur(5px);
    filter: brightness(40%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-form__header {
    background-color: var(--orange);
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    margin: 50px 0 35px;
    text-align: center;
    padding: 8px 0;
}

.header__text {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}
@media (min-width: 992px) {
    .header__text {
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 3px;
    }
}

.profile__graphic {
    margin-bottom: 40px;
}

.profile__image {
    width: 54px
}
@media (min-width: 992px) {
    .profile__image {
        width: 65px
    }
}

.login-form {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.login-form__field {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form__label {
    margin-bottom: 4px;
    font-size: 12px;
}
@media (min-width: 992px) {
    .login-form__label {
        font-size: 16px;
    }
}

.login-form__field input {
    margin-bottom: 20px;
    border-radius: 6px;
    border: var(--orange) 1px solid;
}

.login-form__field input[placeholder] {
    font-size: 12px;
    padding: 5px;
}
@media (min-width: 992px) {
    .login-form__field input[placeholder] {
        font-size: 16px;
        padding: 9px 8px;
    }
}

.login-submit-btn {
    background-color: var(--orange);
    padding: 7px 28px;
    font-size: 15px;
    color: var(--white);
    border-radius: 6px;
    text-align: center;
    align-self: center;
    margin: 25px 0 20px ;
}

.not-registered-info {
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-bottom: 95px;
}

.not-registered-info__text,
.not-registered-info__link {
    font-size: 12px;
    text-align: center;
}
@media (min-width: 992px) {
    .not-registered-info__text,
    .not-registered-info__link {
    font-size: 14px;
    }
}


.not-registered-info__link {
    color: var(--gold);
}

.login-exception {
    color: var(--orange);
    font-size: 12px;
    width: 200px;
    margin: 5px auto;
    text-align: center;
}
@media (min-width: 992px) {
    .login-exception {
    font-size: 14px;
    width: 300px;

    }
}




