@import '../css/__reset.css';
@import '../css/__variables.css';
@import '../css/__navigation.css';
@import '../css/__footer.css';
@import '../css/__animations.css';

@media (min-width: 992px) {
    .menu__item:nth-child(4),
    .menu__item:nth-child(5) {
      display: none;
    }
}
  nav .active .menu__item.user-item {
    width: auto;
    padding: 16px 30px;
    margin-top: 40px;
    border: 1px solid var(--gold);
    border-radius: 5px;
}
.meal-plan-page {
    font-family: "Now", sans-serif;
}