@import '../css/__reset.css';
@import '../css/__variables.css';
@import '../css/__navigation.css';
@import '../css/__footer.css';
@import '../css/__animations.css';

@media (min-width: 992px) {
    .menu__item:nth-child(4),
    .menu__item:nth-child(5) {
      display: none;
    }
}
  nav .active .menu__item.user-item {
    width: auto;
    padding: 16px 30px;
    margin-top: 40px;
    border: 1px solid var(--gold);
    border-radius: 5px;
}
.meal-plan-page {
    font-family: "Now", sans-serif;
}

/*Header starts*/
.header {
  width: 100%;
  height: 500px;
  margin-top: 73px;
}
.header-img__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.pizza {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.header__text-content {
  position: absolute;
  top: 307px;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.chat-cloud {
  width: 90%;
  max-width: 400px;
  position: absolute;
  top: 328px;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  animation: pulseCloud 1s ease-in-out infinite;
}
.header__text {
  max-width: 216px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}
.header__h {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 700;
  color: var(--gold);
  letter-spacing: 2.7px;
  text-align: center;
}
.gradinet {
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0));
}
/*Header ends*/

/*Meal plan starts*/
.meal-plan {
  margin-bottom: 50px;
}
.day__text {
  width: 100%;
  padding: 12px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: var(--white);
  background-color: var(--orange);
}

.el {
  width: 260px;
  height: 330px;
  position: relative;
  margin: 30px 0;
}
.cook-day {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cook-day__link {
  width: 100%;
  height: 100%;
  position: absolute;
}
.overlay {
  width: 100%;
  height: 35%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(3px);
}
.day__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.60);
}
.cook-day__recipe-info {
  max-width: 200px;
  position: absolute;
  top: 235px;
  left: 20px;
  z-index: 2;
}
.cook-day__recipe-info a:nth-child(2) {
  font-size: 17px;
  color: var(--black);
}
.prepare-time {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  font-size: 13px;
}
.fa-clock {
  color: var(--gold);
}
.free-day__text {
  font-size: 17px;
  color: var(--black);
}
.fa-face-smile-wink {
  padding-left: 5px;
  color: var(--gold);
}
/*Meal plan ends*/

/*Grocery list starts*/
.grocery-list {
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  background-color: var(--light-gray);
}
.grocery-list__title {
  margin-bottom: 20px;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--gold);
}
.grocery-table {
  font-size: 14px;
  color: var(--dark-gray);
}
.grocery-table__products {
  padding-right: 15px;
}
.grocery-table__cell {
  padding-bottom: 8px;
}
/*Grocery list ends*/

/*New plan button starts*/
.new-plan {
  display: flex;
  justify-content: center;
  margin: 80px 40px;
}
.new-plan__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  font-size: 20px;
  color: var(--gold);
  border-radius: 10px;
  border: solid 2px var(--gold);
}
.new-plan__link {
  color: var(--gold);
}
/*New plan button ends*/
/*Mobile meal plan ends*/

/*Desktop meal plan starts*/
@media (min-width: 992px) {
  main {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .el {
    width: 550px;
  }
  .day__text {
    border-radius: 50px;
  }
  .pizza {
    border-bottom-left-radius: 260px;
    border-bottom-right-radius: 260px;
  }
  .meal-plan-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header {
    margin-bottom: 40px;
  }
  .gradinet {
    display: none;
  }
  .cook-day__el {
    transition: transform .4s ease-in-out 0s;
  }
  .cook-day__el:hover {
    transform: scale(1.1);
  }
  .new-plan__link:hover .new-plan__btn{
    background-color: var(--white);
    color: var(--gold);
  }
  .new-plan__link {
    background-color: var(--white);
  }
}
/*Desktop meal plan ends*/