@import '../css/__reset.css';
@import '../css/__variables.css';
@import '../css/__navigation.css';
@import '../css/__footer.css';
@import '../css/__animations.css';

@media (min-width: 992px) {
    .menu__item:nth-child(4),
    .menu__item:nth-child(5) {
      display: none;
    }
}
  nav .active .menu__item.user-item {
    width: auto;
    padding: 16px 30px;
    margin-top: 40px;
    border: 1px solid var(--gold);
    border-radius: 5px;
}
nav .active .menu__item.guest-item {
    width: auto;
    padding: 16px 30px;
    margin-top: 40px;
    border: 1px solid var(--gold);
    border-radius: 5px;
}
.recipe-details {
    font-family: "Now", sans-serif;
}
.recipe__image {
    width: 100%;
    border-radius: 16px;
    margin-bottom: 20px;
}
.recipe__header {
    width: 100%;
    max-width: 600px;
    margin-bottom: 10px;
}
h1 {
    text-align: center;
    font-size: 22px;
    font-family: 'Alkatra', system-ui;
    font-weight: 500;
}
.recipe__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 40px;
}
.recipe__wrapper {
    margin-top: 150px;
    padding: 30px;
    border-radius: 16px;
    width: 85%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    background-color: var(--white);
}
.diet {
    display: flex;
    gap: 10px;
}
.prepare-time, .portions-info {
    display: flex;
    gap: 10px;
}
.recipe__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    margin-bottom: 40px;
}
@media (min-width: 450px) {
    .recipe__info {
        flex-direction: row;
        align-items: center;
    }
}
.display-recipe-h2 {
    font-size: 16px;
    color: var(--gold);
    font-weight: 400;
}
.diet__name,
.prepare-time__text,
.portions-info p {
    font-size: 14px;
    color: var(--dark-gray);
}
.diet .fa-solid {
    font-size: 18px;
}
.fa-leaf {
    color: var(--green);
}
.fa-circle-check {
    color: rgb(255, 112, 195);
}
.fa-drumstick-bite {
    color: var(--orange);
}
.fa-clock, .fa-utensils {
    color: var(--gold);
    font-size: 18px;
}
.ingredients__wrapper {
    align-self: start;
}
.ingredients-table {
    margin: 8px 0 40px;
    max-width: 294px;
}
.ingredients-table__cell {
    border: solid 2px var(--light-gray);
    font-size: 14px;
    padding: 5px 7px;
}
.prepare__steps {
    font-size: 14px;
    margin: 8px 20px;
}
.favourite__form {
    align-self: end;
    margin-top: 10px;
}
.favourite__btn {
    font-size: 34px;
    background-color: transparent;
    color: var(--orange);
}
.fa-solid.fa-heart {
    display: none;
}
.background-img {
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: blur(5px);
}
.background-img-large {
    display: none;
}
.fav-bool {
    display: none;
}
@media (min-width: 992px) {
    .background-img-large {
        display: block;
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        filter: blur(5px);
        object-fit: cover;
        object-position: center;
    }
    .background-img {
        display: none;
    }
}
.footer {
    margin-top: 0;
}



