@import '../css/__reset.css';
@import '../css/__variables.css';
@import '../css/__navigation.css';
@import '../css/__footer.css';
@import '../css/__animations.css';

/*Hero graphic starts*/
.browser-page {
    font-family: "Now", sans-serif;
}
.hero {

    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.hero__image{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
}
.hero__image-large {
    display: none;
}
.hero__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
h1 {
    font-size: 26px;
    color: var(--white);
    line-height: 32px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    max-width: 300px;
}
@media (min-width: 992px) {
    h1 {
        font-size: 30px;
        line-height: 50px;
        letter-spacing: 5px;
        margin-bottom: 15px;
        width: auto;
        text-transform: uppercase;
    }
}
.browser__text-content {
    color: var(--gold);
    font-size: 14px;
    line-height: 19px;
}
@media (min-width: 992px) {
    .browser__text-content {
        font-size: 17px;
        letter-spacing: 2px;
    }
}
.recipes-browsing-field {
    margin-top: 40px;
}
/*Hero graphic ends*/

/*Browser starts*/
.browser__input {
    width: 230px;
    padding: 8px 14px;
    border-radius: 50px;
    border: 1px solid var(--gray);
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 450px) {
    .browser__input {
        width: 50vw;
        padding: 12px 18px;
        font-size: 16px;
    }
}
.fa-magnifying-glass {
    font-size: 34px;
    color: var(--gold);
}
.browser__container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
@media (min-width: 450px) {
    .browser__container {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
}

.browser__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}
.draw-btn__wrapper {
    position: absolute;
    bottom: 50px;
    top: 230px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    gap: 10px;
}
@media (min-width: 450px) {
    .draw-btn__wrapper{
        top: 220px;
    }
}
.browser__form {
    display: flex;
    margin-top: 10px;
    align-self: flex-end;
}
@media (min-width: 450px) {
    .browser__form {
        margin-top: 40px;
    }
}
.draw-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    background-color: var(--gold);
}
@media (min-width: 992px) {
    .draw-btn {
        transition: all .3s ease-in-out 0s;
    }
    .draw-btn:hover{
        transform: translateY(2px);
        background-color: var(--orange);
    }
}

.draw-btn__info {
    font-size: 14px;
    color: var(--black);
    width: 150px;
}

.fa-arrow-left {
    font-size: 14px;
    color: var(--gold);
    animation: pulse .8s ease-in-out infinite;
}
@media (min-width: 992px) {
    .fa-arrow-left {
        animation: pulse .8s ease-in-out infinite;
    }
}

.fa-dice {
    font-size: 30px;
    color: var(--white);
}
.select-diet {
    width: 150px;
    padding: 8px 14px;
    border-radius: 50px;
    border: none;
    background-color: var(--gold);
    color: var(--white);
}
@media (min-width: 450px) {
    .select-diet {
        width: 160px;
        padding: 12px 18px;
    }
}
@media (min-width: 992px) {
    .select-diet {
        width: 180px;
        font-size: 16px;
    }
}
.select-diet__option {
    background-color: var(--white);
    color: var(--black);
    line-height: 10px;
    accent-color: gold;
}
.select-diet__option:hover {
    background-color: gold;
}
.ui-menu {
    font-family: "Now", sans-serif;
    padding: 8px 14px;
    font-size: 16px;
    border-radius: 6px;
    width: 100px;
    min-height: 60px;
}

.browser__recipes-container {
    margin: 210px 0 100px;
    border: solid 2px var(--light-gray);
}

.recipe-container__item {
    width: 100%;
    border: 2px solid var(--light-gray);
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 16px;
}

.recipe-img__link {
    width: 120px;
    height: 150px;
    box-shadow: 4px 4px 13.4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
@media (min-width:450px) {
    .recipe-img__link {
        width: 140px;
    }
}


.recipe__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.recipe-container__link {
    width: 120px;
    text-decoration: none;
    color: black;
}
@media (min-width:450px) {
    .recipe-container__link {
        width: 200px;
    }
}

.decor-line {
    display: flex;
    width: 100px;
    height: 2px;
    background-color: var(--gold);
}

.test {
    display: flex;
    flex-direction: column;
    order: 2;
    gap: 4px;
    justify-content: center;
}

@media (min-width: 450px) {
    .hero__image {
        display: none;
    }
    .hero__image-large {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        transform: rotate(180deg);
    }
    .hero {
        height: 550px;
    }
}

@media (min-width: 992px) {
    .random__recipes {
        display: flex;
    }
    .browser__recipes-container {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 240px auto 100px;
        border: none;
    }
    .recipe__img {
        border-radius: 10px;
    }
    .recipe-img__link {
        border-radius: 10px;
        width: 250px;
        height: 360px;
        position: relative;
    }
    .test {
        height: 60px;
        position: absolute;
        z-index: 1;

    }

    .recipe-container__item {
        border: none;
        width: auto;
        cursor: pointer;
        transition: all .4s ease-in-out 0s;
    }
    .recipe-container__item:hover {
        border: none;
        width: auto;
        cursor: pointer;
        transform: scale(1.1);
        
    }
    .recipe-container__item:hover .decor-line{
        width: 120px;
    }
    .overlay {
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0));
    }
    .decor-line {
        transition: all .4s ease-in-out 0s;
    }
}
/*Browser ends*/




