@import '../css/__reset.css';
@import '../css/__variables.css';
@import '../css/__navigation.css';
@import '../css/__footer.css';
@import '../css/__animations.css';

@media (min-width: 992px) {
    .menu__item:nth-child(4),
    .menu__item:nth-child(5) {
      display: none;
    }
}
  nav .active .menu__item.user-item {
    width: auto;
    padding: 16px 30px;
    margin-top: 40px;
    border: 1px solid var(--gold);
    border-radius: 5px;
}
nav .active .menu__item.guest-item {
    width: auto;
    padding: 16px 30px;
    margin-top: 40px;
    border: 1px solid var(--gold);
    border-radius: 5px;
}

/*Hero graphic starts*/
.browser-page {
    font-family: "Now", sans-serif;
}
.hero {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.hero__image{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    object-fit: cover;
    object-position: center;
}
.hero__image-large {
    display: none;
}
.hero__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
h1 {
    max-width: 300px;
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 5px;
    color: var(--white);
}
@media (min-width: 992px) {
    h1 {
        width: auto;
        margin-bottom: 15px;
        font-size: 30px;
        line-height: 50px;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
}
.browser__text-content {
    font-size: 14px;
    line-height: 19px;
    color: var(--gold);
}
@media (min-width: 992px) {
    .browser__text-content {
        font-size: 17px;
        letter-spacing: 2px;
    }
}
.recipes-browsing-field {
    margin-top: 40px;
}
/*Hero graphic ends*/

/*Browser starts*/
.browser__input {
    width: 230px;
    padding: 8px 14px;
    border: 1px solid var(--gray);
    border-radius: 50px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 450px) {
    .browser__input {
        width: 50vw;
        padding: 12px 18px;
        font-size: 16px;
    }
}
.fa-magnifying-glass {
    font-size: 34px;
    color: var(--gold);
}
.browser__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 8px;
}
@media (min-width: 450px) {
    .browser__container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 8px;
    }
}
.browser__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}
.draw-btn__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 50px;
    top: 230px;
    left: 50%;
    transform: translate(-50%, 0);
}
@media (min-width: 450px) {
    .draw-btn__wrapper{
        top: 220px;
    }
}
.browser__form {
    display: flex;
    align-self: flex-end;
    margin-top: 10px;
}
@media (min-width: 450px) {
    .browser__form {
        margin-top: 40px;
    }
}
.draw-btn {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: var(--gold);
}
@media (min-width: 992px) {
    .draw-btn {
        transition: all .3s ease-in-out 0s;
    }
    .draw-btn:hover{
        background-color: var(--orange);
        transform: translateY(2px);
    }
}
.draw-btn__info {
    width: 150px;
    font-size: 14px;
    color: var(--black);
}
.fa-arrow-left {
    font-size: 14px;
    color: var(--gold);
    animation: pulse .8s ease-in-out infinite;
}
@media (min-width: 992px) {
    .fa-arrow-left {
        animation: pulse .8s ease-in-out infinite;
    }
}
.fa-dice {
    font-size: 30px;
    color: var(--white);
}
.select-diet {
    width: 150px;
    padding: 8px 14px;
    color: var(--white);
    border: none;
    border-radius: 50px;
    background-color: var(--gold);
}
@media (min-width: 450px) {
    .select-diet {
        width: 160px;
        padding: 12px 18px;
    }
}
@media (min-width: 992px) {
    .select-diet {
        width: 180px;
        font-size: 16px;
    }
}
.select-diet__option {
    line-height: 10px;
    color: var(--black);
    accent-color: gold;
    background-color: var(--white);
}
.select-diet__option:hover {
    background-color: gold;
}
.ui-menu {
    width: 100px;
    min-height: 60px;
    padding: 8px 14px;
    font-family: "Now", sans-serif;
    font-size: 16px;
    border-radius: 6px;
}
.browser__recipes-container {
    margin: 210px 0 100px;
    border: solid 2px var(--light-gray);
}
.recipe-container__item {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 40px;
    font-size: 16px;
    border: 2px solid var(--light-gray);
}
.recipe-img__link {
    width: 120px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 4px 4px 13.4px 0px rgba(0, 0, 0, 0.25);
}
@media (min-width:450px) {
    .recipe-img__link {
        width: 140px;
    }
}
.recipe__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
.recipe-container__link {
    width: 120px;
    color: black;
    text-decoration: none;
}
@media (min-width:450px) {
    .recipe-container__link {
        width: 200px;
    }
}
.decor-line {
    width: 100px;
    height: 2px;
    display: flex;
    background-color: var(--gold);
}
.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
    gap: 4px;
}
@media (min-width: 450px) {
    .hero__image {
        display: none;
    }
    .hero__image-large {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        object-fit: cover;
        object-position: center;
        transform: rotate(180deg);
    }
    .hero {
        height: 550px;
    }
}
@media (min-width: 992px) {
    .random__recipes {
        display: flex;
    }
    .browser__recipes-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 240px auto 100px;
        border: none;
    }
    .recipe__img {
        border-radius: 10px;
    }
    .recipe-img__link {
        width: 250px;
        height: 360px;
        position: relative;
        border-radius: 10px;
    }
    .test {
        height: 60px;
        position: absolute;
        z-index: 1;
    }
    .recipe-container__item {
        width: auto;
        border: none;
        transition: all .4s ease-in-out 0s;
        cursor: pointer;
    }
    .recipe-container__item:hover {
        width: auto;
        cursor: pointer;
        border: none;
        transform: scale(1.1);
    }
    .recipe-container__item:hover .decor-line{
        width: 120px;
    }
    .overlay {
        width: 100%;
        height: 60%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0));
    }
    .decor-line {
        transition: all .4s ease-in-out 0s;
    }
}
/*Browser ends*/




