<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MealPlanner</title>
    <link href="https://fonts.cdnfonts.com/css/now" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home-user-style.css}">
</head>

<body>
    <nav>
        <button class="burger-btn">
            <i class="fa-solid fa-burger"></i>
        </button>
        <button class="exit-btn">
            <i class="fa-solid fa-xmark"></i>
        </button>
        <div class="menu">
            <a class="menu__item" style="text-decoration: none;" th:href="@{/home/user}">Strona główna</a>
            <a class="menu__item" th:href="@{/plan/generator}">Wygeneruj plan</a>
            <a class="menu__item" th:href="@{/wyszukiwarka}">Wyszukaj przepis</a>
            <a class="menu__item" th:href="@{'/user/' + ${username}}">Twój profil</a>
            <a class="menu__item" th:href="@{/logout}">Wyloguj się</a>
        </div>
        <div class="menu__desktop">
            <a class="menu__item profile" th:href="@{/logout}">Wyloguj się</a>
            <a title="Twój profil" class="menu__item profile profile-icon" th:href="@{'/user/' + ${username}}"><i
                    class="fa-solid fa-user"></i></a>
        </div>
    </nav>
    <main>
        <section class="plan-generator">
            <div class="graphic">
                <img class="graphic__image" th:src="@{/images/Talerz.png}" alt="talerz z pizzą">
                <img class="graphic__image2 image_dsc" th:src="@{/images/u_485kmhchiv_jasny.png}"
                    alt="talerz z kurczakiem">
                <img class="graphic__image3 image_dsc" th:src="@{/images/marker_photography_v2.png}"
                    alt="Talerz z tagiatelle">
            </div>
            <button class="plan-generator__btn">
                <a class="plan-generator__link" th:href="@{/plan/generator}">Wygeneruj plan!</a>
            </button>
        </section>
        <section class="plan-info container">
            <img class="plan-info__image" th:src="@{/images/triangle.svg}" alt="trójkąt - od dymku z informacjami">
            <div class="plan-info-wrapper">
                <h2 class="plan-info__header">Wygeneruj spresonalizowany plan posiłków na cały tydzień!</h2>
                <p class="content plan-info__text">Ten przycisk przeniesie Cię do specjalnego generatora posiłków,
                    gdzie
                    będziesz mógł wybrać dietę, ilość porcji, którą zamierzasz przygotować na dany dzień czy produkty,
                    których potrzebujesz oraz wiele innych.</p>
                <p class="content plan-info__ps">
                    Nie zwlekaj i sprawdź co dla Ciebie przygotowaliśmy. </p>
            </div>
        </section>
        <section class="about-us container">
            <h2 class="about-us__header">Co znajdziesz na naszej stronie?</h2>
            <div class="about-us__wrapper">
                <div class="recipes  element">
                    <a class="recipes__link">Zarządzaj przepisami</a>
                    <img class="about-us__image" th:src="@{/images/nicolettazanella.jpg}" alt="kurkuma i pomarańcze">
                </div>
                <div class="about-us__text-content element">
                    <p class="content about-us__text">MealPlanner oferuje o wiele więcej niż wygenerowanie planu
                        posiłków.
                        Poprzez zakładkę Zarządzaj przepisami, możesz edytować, dodawać nowe oraz usuwać
                        przepisy.
                    </p>
                    <p class="content about-us__ps">
                        Dodatkowo po stworzeniu planu możesz wygodnie pobrać listę zakupów, dzięki czemu nie zapomnisz o
                        żadnym składniku!</p>
                </div>
                <div class="recipes element">
                    <a class="recipes__link">Wyszukaj przepis</a>
                    <img class="about-us__image" th:src="@{/images/keram.jpg}" alt="warzywa">
                </div>
                <div class="about-us__text-content element">
                    <p class="content about-us__text">Skorzystaj też z naszej specjalnej wyszukiwarki przepisów i
                        wyszukaj
                        przepis, który Cię interesuje. Co więcej, w wyszukiwarce czekają na Ciebie losowo wybrane
                        przepisy
                        dla złamania kulinarnej rutyny
                    </p>
                    <p class="content about-us__ps">Daj się zaskoczyć lub wyszukaj coś dla siebie!</p>
                </div>
            </div>
        </section>
    </main>
    <div class="test-content">
        <div>
            <h1> Meal Planner </h1>
            <p> Logged user: <span sec:authentication="name"></span> </p>
            <p> Role: <span sec:authentication="principal.authorities"></span> </p>
        </div>
    </div>
    <footer class="footer">
        <div class="footer__section contact">
            <h4 class="footer__header">Kontakt</h4>
            <div class="email">
                <i class="fa-solid fa-envelope"></i>
                <p class="email__text">email@gmail.com</p>
            </div>
        </div>
        <div class="footer__section social-media">
            <h4 class="footer__header">Znajdziesz nas tutaj</h4>
            <div class="social-media__links">
                <a class="social-media__link"><i class="fa-brands fa-square-facebook"></i></a>
                <a class="social-media__link"><i class="fa-brands fa-instagram"></i></a>
                <a class="social-media__link"><i class="fa-brands fa-tiktok"></i></a>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/3d3eb47a80.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/burgerMenu.js}"></script>
</body>

</html>