<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meal Planner</title>
</head>
<body>
<nav>
    <div class="container-fluid">
        <a th:href="@{/home}">Home</a>
        <div>
            <ul>
                <li>
                    <a th:href="@{/register}">Register</a>
                </li>
                <li>
                    <a th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
        <a th:href="@{/plan/guest}">Plan</a>
    </div>
</nav>
<br /><br />
<div>
    <h1> Meal Planner </h1>
</div>
</body>
</html>
