<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MealPlanner</title>
    <link href="https://fonts.cdnfonts.com/css/now" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home-guest-style.css}">
    <!-- <link rel="stylesheet" href="../../static/css/home-guest-style.css">
    <link rel="stylesheet" href="../../static/css/login-popup-style.css"> -->
    <link rel="stylesheet" th:href="@{/css/login-popup-style.css}">

</head>

<body class="home-guest-page">

    <nav>
        <button class="burger-btn">
            <i class="fa-solid fa-burger"></i>
        </button>
        <button class="exit-btn">
            <i class="fa-solid fa-xmark"></i>
        </button>
        <div class="menu">
            <a class="menu__item" th:href="@{/home}">Strona główna</a>
            <a class="menu__item" th:href="@{/wyszukiwarka}">Wyszukaj przepis</a>
            <a class="menu__item profile" th:href="@{/register}">Zarejestruj się</a>
            <!-- th:href="@{/login}" -->
            <a class="menu__item profile menu__login">Zaloguj się</a>

        </div>
        <div class="menu__desktop">
            <a class="menu__item profile" th:href="@{/register}">Zarejestruj się</a>
            <a class="menu__item profile" th:href="@{/login}">Zaloguj się</a>
        </div>
    </nav>
    <div class="login-form__wrapper">


        <div th:if="${param.planAth}">
            <div>Musisz sie zalogować aby wygenerować plan.</div>
        </div>
        <div th:if="${param.error}">
            <div>Login lub hasło są niepoprawne.</div>
        </div>
        <div th:if="${param.successReg}">
            <div> Zostałeś zarejestrowany. Możesz się teraz zalogować.</div>
        </div>


        <button class="exit-form-btn">
            <i class="fa-solid fa-xmark"></i>
        </button>
        <div class="login-form__header">
            <h3 class="header__text">Logowanie</h3>
        </div>
        <div class="profile__graphic">
            <!-- <img src="../../static/images/profile-icon.svg" alt="Ikona profilu" class="profile__image"> -->
            <img th:src="@{/images/profile-icon.svg}" alt="Ikona profilu" class="profile__image">
        </div>
        <form method="post" role="form" th:action="@{/login}" class="form-horizontal login-form">
            <div class="login-form__field login__field">
                <label class="login-form__label">Login</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Podaj login" />
            </div>

            <div class="login-form__field password__field">
                <label class="login-form__label">Hasło</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Podaj hasło" />
            </div>

            <button type="submit" class="login-submit-btn">Zaloguj się</button>
            <div class="not-registered-info">
                <p class="not-registered-info__text">Nie zarejestrowałeś się?</p>
                <a th:href="@{/register}" class="not-registered-info__link">Zarejestruj się tutaj!</a>
            </div>
        </form>
    </div>
    <div class="login-form__background"></div>
    <main>
        <section class="about-us container">
            <h2 class="about-us__header">Co znajdziesz na naszej stronie?</h2>
            <div class="about-us__wrapper">

                <div class="about-us__text-content element">
                    <p class="content about-us__text">Skorzystaj z naszej specjalnej wyszukiwarki przepisów i
                        wyszukaj
                        przepis, który Cię interesuje. Co więcej, w wyszukiwarce czekają na Ciebie losowo wybrane
                        przepisy
                        dla złamania kulinarnej rutyny
                    </p>
                    <p class="content about-us__ps">Daj się zaskoczyć lub wyszukaj coś dla siebie!</p>
                </div>
                <div class="recipes element">
                    <a class="recipes__link">Wyszukaj przepis</a>
                    <img class="about-us__image" th:src="@{/images/keram.jpg}" alt="warzywa">
                </div>
                <div class="about-us__text-content element">
                    <p class="content about-us__text">MealPlanner oferuje o wiele więcej niż przeglądanie przepisów!
                        Zarejestruj się, aby otrzymać swój spersonalizowany plan posiłków na cały tydzień już dziś,
                        dzięki czemu Twój tydzień będzie zorganizowany, a co najważniejsze, nic się nie zmarnuje.
                    </p>
                    <p class="content about-us__ps"> Zarejestruj się i skorzystaj z dodatkowych funkcji naszej
                        aplikacji!
                    </p>
                </div>
                <div class="recipes  element">
                    <a class="recipes__link" th:href="@{/register}">Zarejestruj się</a>
                    <img class="about-us__image" th:src="@{/images/nicolettazanella.jpg}" alt="kurkuma i pomarańcze">
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__section contact">
            <h4 class="footer__header">Kontakt</h4>
            <div class="email">
                <i class="fa-solid fa-envelope"></i>
                <p class="email__text">email@gmail.com</p>
            </div>
        </div>
        <div class="footer__section social-media">
            <h4 class="footer__header">Znajdziesz nas tutaj</h4>
            <div class="social-media__links">
                <a class="social-media__link"><i class="fa-brands fa-square-facebook"></i></a>
                <a class="social-media__link"><i class="fa-brands fa-instagram"></i></a>
                <a class="social-media__link"><i class="fa-brands fa-tiktok"></i></a>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/3d3eb47a80.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/burgerMenu.js}"></script>
    <script th:src="@{/js/loginForm.js}"></script>
    <!-- <script src="../../static/js/burgerMenu.js"></script>
    <script src="../../static/js/loginForm.js"></script> -->
</body>

</html>